:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body {
  width: 100vw;  
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: "Albert Sans", sans-serif;
}

h3, h4, h5{
  color: #2d2d2d;
}

p{
  color: #2d2d2d;
}

button{
  font-family: "Albert Sans", sans-serif;
}